# Final Frontier Ribbon Pack 
#
# Syntax of file:
# ---------------
# NAME:<name of ribbon pack>
# FOLDER:<folder containing ribbons>
# BASE:<base for ribbon IDs (optional, default: 0)>
# <ribbon ID>:<filename without suffix>:<name of ribbon>:<description>[:<prestige (defaults to ID)>]
# <ribbon ID>:<filename without suffix>:<name of ribbon>:<description>[:<prestige (defaults to ID)>]
# <ribbon ID>:<filename without suffix>:<name of ribbon>:<description>[:<prestige (defaults to ID)>]
# [...]
#
# Do not use any <Ribbon ID> twice even its is used by another ribbon pack.
#
# If a base for this ribbon pack is set, all IDs are offsets from this base. If a ribbon gets ID 17 and the BASE is set to 7000, the used ID is 7017.
#
# Do not use IDs below 1001!
#

NAME:Example Ribbon Pack
FOLDER:Ribbons
BASE:1000
1:CustomPack1001:Custom:A user defined custom ribbon
2:CustomPack1002:Second:A user defined custom ribbon with prestige of 17000:17000
3:CustomPack1003:Third:Another user defined custom ribbon
4:CustomPack1004:Custom 4:Another user defined custom ribbon
5:CustomPack1005:Custom 5:Another user defined custom ribbon
6:CustomPack1006:Custom 6:Another user defined custom ribbon
7:CustomPack1007:Custom 7:Another user defined custom ribbon
8:CustomPack1008:Custom 8:Another user defined custom ribbon
9:CustomPack1009:Custom 9:Another user defined custom ribbon
10:CustomPack1010:Custom 10:Another user defined custom ribbon
